.container {
    background-color: #2175BF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 70px;
}
.logo{
    color: white;
    font-size: 19px;
    font-weight: bold;
}