.container{
    display: flex;
    gap: 100px;
}

.textContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle{
    font-size: 50px;
    font-weight: 500;
}

.desc{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.brands{
    position: relative;
   width: 500px;
   height: 50px;
   margin-bottom: 80px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    background-color: var(--secColor);
    color: var(--primColor);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition:  all 350ms ease ;
}

.button:hover{
    
    font-weight: 600;
    transition: all  1.5s ease ;
}

.imgContainer{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}